<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Coffee machine">
            <file>Tests/DisplayErrors/BeansTest.php</file>
            <file>Tests/DisplayErrors/GroundsTest.php</file>
            <file>Tests/DisplayErrors/WaterTest.php</file>
            <file>Tests/CanBeConfiguredTest.php</file>
            <file>Tests/BadUsageTest.php</file>
            <file>Tests/SupportInternationalisationTest.php</file>
            <file>Tests/ServeCoffeeTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>