<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Coffee machine">
            <file>Tests/ErrorMessages/BeansTest.php</file>
            <file>Tests/ErrorMessages/GroundsTest.php</file>
            <file>Tests/ErrorMessages/WaterTest.php</file>
            <file>Tests/NominalCaseTest.php</file>
            <file>Tests/WeirdSpecsTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>